#homepic {
    max-height: 700px;
    width: auto;
}

.intro-section:before {
    background: #F87060;
}

h1,
h2 {
    color: #FFF;
    font-family: sans-serif;
}

#button {
    border-color: black;
}

#button:hover {
    background-color: #F87060;
}

.cta a.active>span {
    background-color: #F87060;
    color: #FFF;
}

#about,
#work {
    color: #F87060;
}

#box {
    background-color: #F87060;
    width: auto;
}


.process {
    max-width: 1000px;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

/* @media (max-width: 991.98px) at this media .image-absolute-box .box we need to remove:
top, right, position. Then we need to fix the top & right position to match the view you'd like
 */

@media (max-width: 991.98px) {
    .img-absolute img {
        max-width: 50%;
    }
}

.icon-pacman:before {
    content: "\e916";
  }

.icon-newspaper:before {
    content: "\e904";
  }

.work-thumb {
    max-width: 600px;
    max-height: 400px;
}

.myp {
    margin: 0;
}